In [2]:
import pandas as pd

In [12]:
sch_flow = pd.read_csv("data/raw/schwartau/flow_schwartau.csv")
sch_temp = pd.read_csv("data/raw/schwartau/temperature_schwartau.csv")
sch_humid = pd.read_csv("data/raw/schwartau/humidity_schwartau.csv")
sch_weight = pd.read_csv("data/raw/schwartau/weight_schwartau.csv")

<hr>
Cleaning notes for flow:

* Lots of zero data
* Measured every minute. Need to aggregate
* Negative numbers are bee departures
* Positive numbers are bee arrivals
* Keep arrivals and departures separate

In [8]:
sch_flow.head()

             timestamp  flow
0  2017-01-01 14:15:00     0
1  2017-01-01 14:16:00     0
2  2017-01-01 14:17:00     0
3  2017-01-01 14:18:00     0
4  2017-01-01 14:19:00     0

<hr>
Cleaning notes for temperature:

* May contain NaN 
* Measured in degrees celsius
* Measured every 5 minutes

In [13]:
sch_temp.head()

             timestamp  temperature
0  2017-01-01 14:10:00          NaN
1  2017-01-01 14:15:00       12.340
2  2017-01-01 14:20:00       12.270
3  2017-01-01 14:25:00       12.276
4  2017-01-01 14:30:00       12.356

<hr>
Cleaning notes for humidity:

* Measured in percentage
* Measured twice per day
* May need to be suplimented with other data

In [14]:
sch_humid.head()

             timestamp   humidity
0  2017-01-01 13:00:00  98.040310
1  2017-01-02 01:00:00  98.610556
2  2017-01-02 13:00:00  99.002083
3  2017-01-03 01:00:00  98.486806
4  2017-01-03 13:00:00  98.320139

<hr>
Cleaning notes for weight:

* Measured twice per day. Need some creative solution here
* Potential to correlate with flow?
* The weight for schwartau needs to be divided by 1000. It was measured in grams accidentally.

In [19]:
sch_weight.head()

             timestamp        weight
0  2017-01-01 13:00:00  50736.790078
1  2017-01-02 01:00:00  50700.685000
2  2017-01-02 13:00:00  50614.907500
3  2017-01-03 01:00:00  50739.824167
4  2017-01-03 13:00:00  50799.746944