In [42]:
import pandas as pd
import numpy as np
from os import path
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt

In [29]:
#Get the CSV file with all of our data
clean_data = pd.read_csv('data/cleaned/schwartau/schwartau.csv', encoding='UTF-8')
clean_data.head(10)

,flow,departures,arrivals,temperature,weight,humidity,timestamp
0,0,0,0,12.340,50.700685,98.610556,2017-01-01 14:15:00
1,0,0,0,12.356,50.700685,98.610556,2017-01-01 14:30:00
2,0,0,0,12.492,50.700685,98.610556,2017-01-01 14:45:00
3,0,0,0,12.454,50.700685,98.610556,2017-01-01 15:00:00
4,0,0,0,12.378,50.700685,98.610556,2017-01-01 15:15:00
5,0,0,0,12.308,50.700685,98.610556,2017-01-01 15:30:00
6,0,0,0,15.074,50.700685,98.610556,2017-01-01 15:45:00
7,0,0,0,16.836,50.700685,98.610556,2017-01-01 16:00:00
8,0,0,0,15.730,50.700685,98.610556,2017-01-01 16:15:00
9,0,0,0,14.010,50.700685,98.610556,2017-01-01 16:30:00

In [32]:
#Create a numpy array to store our features in
features = np.array([
    clean_data['flow'].values,
    clean_data['departures'].values,
    clean_data['arrivals'].values,
    clean_data['temperature'].values,
    clean_data['weight'].values,
    clean_data['humidity'].values,
])

In [49]:
#Get model
model = DBSCAN(eps=0.3, min_samples=3).fit(features)
#Get labels
labels = model.labels_

[-1 -1 -1 -1 -1 -1]