In [1]:
import pandas as pd

In [2]:
sch_flow = pd.read_csv("data/raw/schwartau/flow_schwartau.csv")
sch_temp = pd.read_csv("data/raw/schwartau/temperature_schwartau.csv")
test_sch = sch_temp
sch_humid = pd.read_csv("data/raw/schwartau/humidity_schwartau.csv")
sch_weight = pd.read_csv("data/raw/schwartau/weight_schwartau.csv")

pls love me I need it to survive -Derek

<hr>
Cleaning notes for flow:

* Lots of zero data
* Measured every minute. Need to aggregate
* Negative numbers are bee departures
* Positive numbers are bee arrivals
* Keep arrivals and departures separate

In [3]:
sch_flow.head()

             timestamp  flow
0  2017-01-01 14:15:00     0
1  2017-01-01 14:16:00     0
2  2017-01-01 14:17:00     0
3  2017-01-01 14:18:00     0
4  2017-01-01 14:19:00     0

<hr>
Cleaning notes for temperature:

* May contain NaN (Dropped rows containing these.  DONE-Derek)
* Measured in degrees celsius (Will leave as C unless otherwise stated.  DONE-Derek)
* Measured every 5 minutes

In [8]:
#Preview of temp
print(test_sch.head())
print()
#Initial number of values
print(len(test_sch.index))
#Drop NaN value rows
sch_tempFilter = test_sch.dropna()
print()
#Number of values after
print(len(sch_tempFilter.index))
print()
print(sch_tempFilter.head())
print()

#Sorting timestamp...
tempList = []
sch_temp = sch_temp.dropna()
sch_temp['timestamp'] = pd.to_datetime(sch_temp['timestamp'])
for ind,minute in sch_temp['timestamp'].dt.minute.items():
    if (minute %15 != 0):
        tempList.append(ind)
sch_temp = sch_temp.drop(index = tempList)
print(sch_temp.head())

             timestamp  temperature
0  2017-01-01 14:10:00          NaN
1  2017-01-01 14:15:00       12.340
2  2017-01-01 14:20:00       12.270
3  2017-01-01 14:25:00       12.276
4  2017-01-01 14:30:00       12.356

253430

251398

             timestamp  temperature
1  2017-01-01 14:15:00       12.340
2  2017-01-01 14:20:00       12.270
3  2017-01-01 14:25:00       12.276
4  2017-01-01 14:30:00       12.356
5  2017-01-01 14:35:00       12.404

             timestamp  temperature
1  2017-01-01 14:15:00       12.340
4  2017-01-01 14:30:00       12.356
7  2017-01-01 14:45:00       12.492
10 2017-01-01 15:00:00       12.454
13 2017-01-01 15:15:00       12.378

<hr>
Cleaning notes for humidity:

* Measured in percentage
* Measured twice per day
* May need to be suplimented with other data

In [5]:
sch_humid.head()

             timestamp   humidity
0  2017-01-01 13:00:00  98.040310
1  2017-01-02 01:00:00  98.610556
2  2017-01-02 13:00:00  99.002083
3  2017-01-03 01:00:00  98.486806
4  2017-01-03 13:00:00  98.320139

<hr>
Cleaning notes for weight:

* Measured twice per day. Need some creative solution here
* Potential to correlate with flow?
* The weight for schwartau needs to be divided by 1000. It was measured in grams accidentally.

In [6]:
sch_weight.head()

             timestamp        weight
0  2017-01-01 13:00:00  50736.790078
1  2017-01-02 01:00:00  50700.685000
2  2017-01-02 13:00:00  50614.907500
3  2017-01-03 01:00:00  50739.824167
4  2017-01-03 13:00:00  50799.746944